		<script
		  src="https://code.jquery.com/jquery-3.4.1.js"
		  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		  crossorigin="anonymous">
		</script>
		<script type="text/javascript" src="/javascript/script.js"></script>
		<script src="https://kit.fontawesome.com/e042c340d4.js" crossorigin="anonymous"></script>
	</body>
</html>