<% include partials/header %>

<div class="form-divs container">
	<div class="form-divs">
	<h1>
		Sign up
	</h1>

	<form action="/register" method="POST">
		<div class="form-group">
			<label>Username</label>
			<input class="form-control" type="text" name="username" placeholder="marcopolo" required>
		</div>
		<div class="form-group">
			<label>Name</label>
			<input class="form-control" type="text" name="name" placeholder="Marco" required>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input class="form-control" type="email" name="email" placeholder="marco@pollo.com" required>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input class="form-control" id="password" type="password" name="password" placeholder="********" required>
		</div>
		<div class="form-group">
			<label>Confirm Password</label>
			<input class="form-control" id="confirm-password" type="password" name="confirm-password" placeholder="Repeat the password" required>
		</div>
		<div class="form-group">
			<input class="btn btn-primary form-button btn-block" type="Submit" value="Create Account">
		</div>
	</form>
	<div>
		<p>
			Already have an account? <a href="/login">Log In.</a>
		</p>
	</div>
</div>
</div>

<% include partials/footer %>