<% include partials/header %>

<div id="welcome-div">
	<div class="blurred-box">
	  <div class="welcome-content">
		<h3>
		Welcome to
		Explorer's Map
		</h3>
		<a href="/login" class="btn btn-outline-light">
			Login
		</a>
		<p>
		Don't have an account? <a href="/register">Sign Up</a>	
		</p>
	  </div>
	</div>
</div>

<% include partials/footer %>