html > body {
	background-color: #7400a6;
	font-family: 'Quicksand', sans-serif;
}

button {
	text-decoration: none;
}

/*Portrait Mode*/
.navbar-dark {
	background-color: #7400a6;
}

#nav-devider {
    border: 0;
    height: 1px;
	width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

#portrait {
	color: #7400a6;
	background: white;
}

#portrait h4 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 5rem;
}

#portrait h3 {
	margin-top: 8rem;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 4rem;
}

h4 span {
	font-size: 4.5rem
}

#portrait .container {
	padding: 2rem;
}

ul {
	font-size: 1rem;
	list-style-type: none;
}

.country-delete {
	display: inline-block;
	position: relative;
	float: right;
	vertical-align: middle;

}

.country-delete input {
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-top: -8px;
	border: none;
	color: gray
}

#portrait .add-location {
	text-align: center;
	margin-bottom: 4rem;
}

.form-button {
}

/*Landscape Mode*/
#side-bar {
	height: 100vh;
	background: #7400a6;
	text-align: center;
	padding: 2rem 1rem;
}

#side-bar h3 {
	font-size: 1rem;
	color: white;
	font-weight: 500;
}

#side-bar p {
	font-size: 0.7rem;
}

#side-bar a {
	text-decoration: none;
	color: white;
}

#side-bar a:hover, #side-bar a:active {
	font-weight: 600;
}

#side-bar a i:hover, #side-bar a i:active {
	text-shadow: 0 0px 1px white;
}

#side-bar .logout-button {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	margin-left: -1rem;	
}

#landscape .add-location {
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#globe-btn {
	font-size: 4rem;
}


#map-div {
	height: 100vh;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

rect {
	width: 100vw;
}

#regions_div {
	width: 100%;
	height: 100vh;
}

/*Other CSS*/
.form-divs {
	text-align: center;
	margin-top: 5rem;
	max-width: 400px;
	color: white;
}



/*Toggle orientation*/
@media screen and (orientation:portrait) {
	#landscape {
		display: none;
	}
	html > body {
	}
}

@media screen and (orientation:landscape) {
	#portrait  {
		display: none;
	}
	html > body {
	}
}
