html > body {
	font-family: 'Quicksand', sans-serif;
}

/*Portrait Mode*/
#portrait {
	color: #7400a6;
	background: white;
}

#portrait h4 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 5rem;
}

#portrait h3 {
	margin-top: 15rem;
	font-size: 4rem;
	text-align: center;
	margin-bottom: 4rem;
}

h4 span {
	font-size: 6rem
}

#portrait .container {
	padding: 2rem;
}

ul {
	font-size: 3rem;
	list-style-type: none;
}

.country-delete {
	display: inline-block;
	position: relative;
	float: right;
}

#portrait .add-location {
	color: green;
	text-align: center;
	margin-bottom: 4rem;
}

/*Landscape Mode*/
#side-bar {
	height: 100vh;
	background: #7400a6;
	text-align: center;
	padding: 2rem 1rem;
}

#side-bar h3 {
	font-size: 1rem;
	color: white;
	font-weight: 500;
}

#side-bar p {
	font-size: 0.7rem;
}

#side-bar a {
	text-decoration: none;
	color: white;
}

#side-bar a:hover, #side-bar a:active {
	font-weight: 600;
}

#side-bar a i:hover, #side-bar a i:active {
	text-shadow: 0 0px 1px white;
}

#side-bar .logout-button {
	position: absolute;
	bottom: 2rem;
	width: 100%;
	margin-left: -1rem;	
}

#landscape .add-location {
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#globe-btn {
	font-size: 4rem;
}


#map-div {
	height: 100vh;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

rect {
	width: 100vw;
}

#regions_div {
	width: 100%;
	height: 100vh;
}

/*Toggle orientation*/
@media screen and (orientation:portrait) {
	#landscape {
		display: none;
	}
	html > body {
	background: white;
	}
}

@media screen and (orientation:landscape) {
	#portrait  {
		display: none;
	}
	html > body {
	background: #7400a6;
	}
}
